In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

buys_computer = {
            'Age':    [0,0,1,2,2,2,1,0,0,2,0,1,1,2,0,0,0,1,2,1],
            'Income': [2,2,2,1,0,0,0,1,0,1,1,1,2,1,1,0,0,0,1,2],
            'Student':[0,0,0,0,1,1,1,0,1,1,1,0,1,0,0,0,0,1,1,0],
            'Credit': [0,1,0,0,0,1,1,0,0,0,1,1,0,1,1,0,1,0,1,1],
            'Buys':   [0,0,1,1,1,0,1,0,1,1,1,1,1,0,0,0,0,1,1,1],
          }

target_names = ['Buys No Computer','Buys Computer']  
feature_names = ['Age','Income','Student','Credit']

df = pd.DataFrame(buys_computer)
df.head()

   Age  Income  Student  Credit  Buys
0    0       2        0       0     0
1    0       2        0       1     0
2    1       2        0       0     1
3    2       1        0       0     1
4    2       0        1       0     1

In [2]:
X = df[['Age','Income','Student','Credit']]
y = df[['Buys']]

tree_clf = DecisionTreeClassifier(max_depth=2)
tree_clf.fit(X, y)

DecisionTreeClassifier(max_depth=2)

In [3]:
from sklearn.tree import export_graphviz
 
export_graphviz(
         tree_clf,
     out_file=r"C:\Users\Daniel\Downloads\buys_computer_tree.dot",
         feature_names=feature_names[:],
         class_names=target_names,
         rounded=True,
         filled=True
)

out file code: 

digraph Tree {
node [shape=box, style="filled, rounded", color="black", fontname=helvetica] ;
edge [fontname=helvetica] ;
0 [label="Age <= 0.5\ngini = 0.48\nsamples = 20\nvalue = [8, 12]\nclass = Buys Computer", fillcolor="#bddef6"] ;
1 [label="Student <= 0.5\ngini = 0.375\nsamples = 8\nvalue = [6, 2]\nclass = Buys No Computer", fillcolor="#eeab7b"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="gini = 0.0\nsamples = 6\nvalue = [6, 0]\nclass = Buys No Computer", fillcolor="#e58139"] ;
1 -> 2 ;
3 [label="gini = 0.0\nsamples = 2\nvalue = [0, 2]\nclass = Buys Computer", fillcolor="#399de5"] ;
1 -> 3 ;
4 [label="Credit <= 0.5\ngini = 0.278\nsamples = 12\nvalue = [2, 10]\nclass = Buys Computer", fillcolor="#61b1ea"] ;
0 -> 4 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
5 [label="gini = 0.0\nsamples = 6\nvalue = [0, 6]\nclass = Buys Computer", fillcolor="#399de5"] ;
4 -> 5 ;
6 [label="gini = 0.444\nsamples = 6\nvalue = [2, 4]\nclass = Buys Computer", fillcolor="#9ccef2"] ;
4 -> 6 ;
}